{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block bootstrap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <section class="box box-form">
        <form method="POST">
            {% csrf_token %}
            <div class="box-form__header">Log in</div>
            <div class="box-form__input">
                {{ form|crispy}}
            </div>
            <div class="box-form__box-button">
                <button class="btn btn-classic full-width" type="submit">Login</button>
                <p>or <a class="link" href="{% url 'password_reset' %}"> Forgot Password?</a></p>
            </div>
        </form>
        <div class="box-form__footer">
            <p>Don't have an account? <a class="link" href="{% url 'users_register' %}"> Sign up</a></p>
        </div>
    </section>
{% endblock content %}