{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block bootstrap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <section class="box boxRegister">
        <form method="POST">
            {% csrf_token %}
            <div class="headerRegister">Log in</div>
            <div class="formRegister">
                {{ form|crispy}}
            </div>
            <div class="footerRegister">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        <div class="loginRegister">
            <p>Don't have an account? <a href="{% url 'users_register' %}"> Sign up</a></p>
        </div>
    </section>
{% endblock content %}