{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="box box-form">
        <form method="POST">
            {% csrf_token %}
            <div class="box-form__header"><p>Reset Password</p></div>
            <div class="box-form__input">
                {{ form|crispy}}
            </div>
            <div class="box-form__box-button">
                <button class="btn btn-classic full-width" type="submit">Reset Password</button>
            </div>
        </form>
    </section>
{% endblock content %}