{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <main class="profile">
            <section class="box profile__main-data">
                <img class="profile__img" src="{{ user.profile.image.url }}" alt="user image">
                <h3>{{ user.username }}</h3>
                <p>{{ user.email }}</p>
            </section>
            <section class="box profile__update">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-form__input">
                        {{ u_form|crispy}}
                        {{ p_form|crispy }}
                    </div>
                    <div class="box-form__box-button">
                        <button class="btn" type="submit">Update</button>
                    </div>
                </form>
            </section>
        </main>
{% endblock content %}