/* BOX MODEL */
html{
    box-sizing: border-box;
}

*,*:after,*:before{
    box-sizing: inherit;
}
/* MY NORMALIZE */
ul{
    margin:0;
    padding:0;
    list-style: none;
}

body{
    margin:0;
    font-family: "Roboto",sans-serif;
}
p{
    margin:0;
}
/*BODY*/
body{
    background: #F7F7F7;
}
/* GENERAL STYLES */
.box{
    background-color:#fff;
    border:1px solid #D0D3D4;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
}
.btn{
    color:#20232A;
    background-color: #29F2E3;
    width: 100%;
    font-weight: 700;
}
/* MAIN- Blog Entries */
main{
    width: 90%;
    margin:0 auto;
    display: grid;
    column-gap: 1rem;
    padding: 2rem 0rem;
}
main section.box_entries{
    display: grid;
    grid-row-gap: 1rem;
}
main section.box_entries div.container{
    width: 90%;
    margin:0 auto;
}
main section.box_entries section.box_entry{
    background-color:#fff;
    border:1px solid #D0D3D4;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    text-align: justify;
}

main section section.box_entry p{
    font-weight: 300;
}

main section section.box_entry div.box_entry_category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*ASIDE*/
main aside{
    background:#fff;
    border:1px solid #D0D3D4;
}
/* REGISTER */
.boxRegister{
    width: 90%;
    max-width: 320px;
    margin:2rem auto;
}
.formRegister{
    display: grid;
    grid-gap:1rem;
}
.formRegister small{
    display: none;
}
.boxRegister div.headerRegister,div.formRegister,div.footerRegister{
    padding: 1rem;
}
.boxRegister div.footerRegister{
    padding-top:0rem;
}
.boxRegister div.headerRegister{
    border-bottom:1px solid #D0D3D4;
}
.boxRegister div.loginRegister{
    padding: 1rem;
    border-top:1px solid #D0D3D4;
    text-align: center;
}
/* RESPONSIVE */

@media (min-width: 480px) {

}

@media (min-width: 680px) {
    main{
        grid-template-columns: 2fr 1fr;
    }

    div.footerRegister{
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1024px){
    main{
        width: 70%;
    }

}