/**
 *  TOC:
 *  01. General Styles
 *  02. Homepage
 *      2.1 Blog Entries
 *      2.2 Aside
 * ===================================================================
 */

/**
 * ===================================================================
 * 01. General Styles
 *
 * -------------------------------------------------------------------
 */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
    background: #F7F7F7;
    font-family: "Roboto",sans-serif;
}
main{
    margin:0 auto;
    padding:2rem 0rem;
}
.btn{
    color:#20232A;
    background-color: #29F2E3;
    font-weight: 700;
    width: 100%;/*CHANGE THIS RIGHT NOW*/
}

.link1,.link1:visited{
    font-weight: 700;
    color:inherit;
}
.link2,.link2:visited{
    background-color: #29F2E3;
    color:#20232A;
}

.link1:hover,.link1:visited:hover,
.link2:hover,.link2:visited:hover{
    color:#20232A;
    background-color: #29F2E3;
    font-weight: bold;
    transition: .8s;
}
/**
 * ===================================================================
 * 02. Homepage
 *
 * -------------------------------------------------------------------
 */
.box-index{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1rem;
}

.container{
    width: 90%;
    margin:0 auto;
}

/* RESPONSIVE HOMEPAGE*/
@media (min-width: 680px) {
    .box-index{
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
    }
    div.footerRegister{
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1024px){
    .box-index{
        width: 70%;
    }

}
/**
 * ===================================================================
 * 2.1 Blog Entries
 * -------------------------------------------------------------------
 */
.entry{
    text-align: justify;
    padding: 1rem 0rem;
    border-bottom:1px solid #D0D3D4;
}
.entry:last-child{
    border:none;
}
.entry{
    display: grid;
    grid-gap:.5rem;
    line-height: 2rem;
}
.entry__description{
    font-weight: 300;
}

.entry__title a,.entry__title a:visited{
    color:#20232A;
    text-decoration: none;
}

.entry__title:hover a{
    background-color: #29F2E3;
    transition: .4s;
}
.entry__data{
    text-decoration:none;
}


/**
 * ===================================================================
 * 2.2 Aside
 * -------------------------------------------------------------------
 */
.articles{
    padding: 1rem;
    line-height: 2rem;
}

.articles__title{
    text-transform: uppercase;
    color:#20232A;
    font-weight: bold;
    margin-bottom: 1rem;
}

.articles__number{
    color:#29F2E3;
    font-weight: bold;
    font-size:2rem;
    margin-right: 1rem;
}

.articles__a{
    color:#20232A;
}
/* REGISTER */
.boxRegister{
    width: 90%;
    max-width: 320px;
    margin:2rem auto;
}
.formRegister{
    display: grid;
    grid-gap:1rem;
}
.formRegister small{
    display: none;
}
.boxRegister div.headerRegister,div.formRegister,div.footerRegister{
    padding: 1rem;
}
.boxRegister div.footerRegister{
    padding-top:0rem;
}
.boxRegister div.headerRegister{
    border-bottom:1px solid #D0D3D4;
}
.boxRegister div.loginRegister{
    padding: 1rem;
    border-top:1px solid #D0D3D4;
    text-align: center;
}


/*PROFILE */
main.mainProfile {
    width: 70%;
    margin:0 auto;
}
main.mainProfile section.basic_data img{
    max-width: 10%;
}
