/**
 *  TOC:
 *  01. General Styles
 *  02. Homepage
 *      2.1 Blog Entries
 *      2.2 Aside
 *  03. Forms
 *  04. Profile
 * ===================================================================
 */

/**
 * ===================================================================
 * 01. General Styles
 *
 * -------------------------------------------------------------------
 */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
    background: #F7F7F7;
    font-family: "Roboto",sans-serif;
}
main{
    margin:0 auto;
    padding:2rem 0rem;
}
.btn{
    font-weight: 700;
    border:none;
    padding: 1rem 0rem;
}

.btn-classic{
    color:#20232A;
    background-color: #29F2E3;
}

.box{
    background-color: #fff;
    border:1px solid #D0D3D4;
}

.link1,.link1:visited{
    font-weight: 700;
    color:inherit;
}
.link2,.link2:visited{
    background-color: #29F2E3;
    color:#20232A;
}

.link1:hover,.link1:visited:hover,
.link2:hover,.link2:visited:hover{
    color:#20232A;
    background-color: #29F2E3;
    font-weight: bold;
    transition: .8s;
}

/**
 * ===================================================================
 * 02. Homepage
 *
 * -------------------------------------------------------------------
 */
.box-index{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1rem;
}

.container{
    width: 90%;
    margin:0 auto;
}

/* RESPONSIVE HOMEPAGE*/
@media (min-width: 680px) {
    .box-index{
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr;
    }
    div.footerRegister{
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1024px){
    .box-index{
        width: 70%;
    }

}
/**
 * ===================================================================
 * 2.1 Blog Entries
 * -------------------------------------------------------------------
 */
.entry{
    text-align: justify;
    padding: 1rem 0rem;
    border-bottom:1px solid #D0D3D4;
}
.entry:last-child{
    border:none;
}
.entry{
    display: grid;
    grid-gap:.5rem;
    line-height: 2rem;
}
.entry__description{
    font-weight: 300;
}

.entry__title a,.entry__title a:visited{
    color:#20232A;
    text-decoration: none;
}

.entry__title:hover a{
    background-color: #29F2E3;
    transition: .4s;
}
.entry__data{
    text-decoration:none;
}

/**
 * ===================================================================
 * 2.2 Aside
 * -------------------------------------------------------------------
 */
aside{
    padding: 1rem 0rem 1rem 1rem;
    line-height: 2rem;
}

.articles__title{
    font-weight:bold;
    margin-bottom: 1rem;
}

.articles__li{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.articles__number{
    color:#29F2E3;
    font-weight: bold;
    font-size:3rem;
    margin-right: 1rem;
}

.articles__a{
    color:#20232A;
}

/**
 * ===================================================================
 * 03. Forms
 *
 * -------------------------------------------------------------------
 */



.box-form{
    width: 90%;
    max-width: 320px;
    margin:4rem auto;
}

@media (min-width: 1024px){
    .box-form{
        width: 50%;
    }
}

.box-form__header,.box-form__input,.box-form__box-button,.box-form__footer{
    padding: 1rem;
}
.box-form__header{
    border-bottom:1px solid #D0D3D4;
    font-weight: bold;
}
.box-form__input{
    display: grid;
    grid-gap:1rem;
}

.box-form__input input,textarea,select{
    width: 100%;
    padding: .4rem 1rem;
    margin-top: .6rem;
    border:1px solid #D0D3D4;
    border-radius:3px;
}
.box-form__input input[type="file"]{
    border:none;
    padding: initial;
}

.box-form__input textarea{
    resize:none;
}

.box-form__input small{
    display: none;
}

.box-form__box-button{
    padding-top:0rem;
}

.box-form__box-button .btn{
    width: 100%;
}

.btn-classic:hover{
    background-color: rgba(50,145,230,0.8);
    transition: .5s;
    cursor: pointer;
}

@media(min-width: 640px){

    .box-form__box-button .btn{
        width: auto;
        padding: 1rem 4rem;
    }

}

.box-form__footer{
    padding: 1rem;
    border-top:1px solid #D0D3D4;
    text-align: center;
}

.box-form__footer a:visited{
    color:#29F2E3;
}

.box-form__footer a:hover{
    color: rgba(50,145,230,1);
}

.no-width{
    max-width: none;
}

.full-width{
    width: 100%!important;
}


/**
 * ===================================================================
 * 04. Profile
 *
 * -------------------------------------------------------------------
 */

.profile {
    width: 90%;
    margin:0 auto;
    display: grid;
    grid-gap:1rem;
}

.profile__main-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    padding: 1rem;
}

.profile__img{
    margin-bottom: 1rem;
    max-width: 320px;
    margin:0px auto;
}

@media (min-width: 680px){
    .profile{
        display: flex;
    }

    .profile__update{
        width: 100%;
    }

}

@media(min-width: 1024px){
    .profile{
        width: 70%;
    }

}

/**
 * ===================================================================
 * 05. Post-Detail
 *
 * -------------------------------------------------------------------
 */
.post__header h1{
    margin:0;
}
.post__content p{
    color:#20232A;
    font-weight: 500;
}
.post__content h3{
    margin:1rem 0rem;
}

.post__content pre{
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    padding: 1rem;
}

.post__actions{
   margin-bottom: 2rem;
   display: grid;
    grid-template-columns: 1fr 1fr;
   grid-gap:1rem;
}
.post__actions a{
   width:100%;
   text-align: center;
    padding: .8rem;
}

.post__actions a:first-child:hover{
    background-color: rgba(50,145,230,0.8);
    transition: .5s;
    cursor: pointer;
}

.btn-danger{
    border:1px solid #963200;
    background-color: transparent;
    color: #963200;
}
.btn-danger:hover{
    cursor:pointer;
    background-color: #963200;
    color:#fff;
    transition: .5s;
}