{% extends "base.html" %}
{% block content %}
    <main>
        <div class="box-index container">
            <section class="entries">
            {% for post in posts %}
                <section class="entry">
                    <div>
                        <h3 class="entry__title"><a class="link1" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                    </div>
                    <div>
                        <p class="entry__data">{{ post.date_posted|date:"F d, Y" }} by <a href="#" class="link1">{{ post.author }}</a> | <a class="link1" href="#">{{ post.categoria }}</a></p>
                    </div>
                    <div>
                        <p class="entry__description">{{ post.summary }}</p>
                    </div>
                </section>
            {% endfor %}
            {% if is_paginated %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page=1"> first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif%}

                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <a class="active" href="?page={{num}}">{{ num }}</a>
                    {%elif num > page_obj.number|add:'-3' or num < page_obj.number|add:'+3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                {% endif%}
            </div>
            {% endif %}
            </section>
            <aside>
                <section class="articles">
                    <h3 class="articles__title">Popular Articles</h3>
                    <ul>
                        <li class="articles__li">
                            <div>
                                <p class="articles__number">01</p>
                            </div>
                            <div>
                                <a class="articles__a link1" href="#"> Lorem Ipsum Dolor Sit Amet</a>
                                <p>January 13, 2021</p>
                            </div>
                        </li>
                    </ul>



                </section>
            </aside>
        </div>
    </main>
{% endblock content%}












