{% extends "base.html" %}
{% block content %}
    <main>
        <div class="box-index container">
            <section class="entries">
            {% for post in posts %}
                <section class="entry">
                    <div>
                        <h3 class="entry__title"><a class="link1" href="">{{ post.title }}</a></h3>
                    </div>
                    <div>
                        <p class="entry__data">{{ post.date_posted|date:"F d, Y" }} by <a href="#" class="link1">{{ post.author }}</a> | <a class="link1" href="#">{{ post.categoria }}</a></p>
                    </div>
                    <div>
                        <p class="entry__description">{{ post.summary }}.</p>
                    </div>
                </section>
            {% endfor %}
            </section>
            <aside>
                <section class="articles">
                    <h3 class="articles__title">Popular Articles</h3>
                    <ul>
                        <li class="articles__li">
                            <div>
                                <p class="articles__number">01</p>
                            </div>
                            <div>
                                <a class="articles__a link1" href="#"> Lorem Ipsum Dolor Sit Amet</a>
                                <p>January 13, 2021</p>
                            </div>
                        </li>
                    </ul>



                </section>
            </aside>
        </div>
    </main>
{% endblock content%}












