{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div>
                    <li><span class="logo">Lapsus</span></li>
                    <li>Acerca de</li>
                    <li>Cursos</li>
                </div>
                <div>
                    <li>Nuevo Post</li>
                    <li>Perfil</li>
                    <li>Cerrar Sesión</li>
                </div>
            </ul>
        </nav>
    </header>
</body>
</html>