{% extends "base.html" %}
{% block content %}
    <main>
        <div class="box-index container">
            <section class="entries">
                <section class="entry">
                    <div class="post__header">
                        <h1 class="entry__title">{{ post.title }}</h1>
                    </div>
                    <div>
                        <p class="entry__data">{{ post.date_posted|date:"F d, Y" }} by <a href="#" class="link1">{{ post.author }}</a> | <a class="link1" href="#">{{ post.categoria }}</a></p>
                    </div>
                    <div class="post__content">
                        <h3>Summary</h3>
                        <div class="entry__summary">{{ post.summary|safe }}</div>
                        <div class="entry__description">{{ post.content|safe }}</div>
                    </div>

                </section>
            </section>
            <aside>
                <section class="post__actions">
                    {% if object.author == user %}
                        <a class="btn" href="{% url 'post-update' post.id%}">Update</a>
                        <a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Delete</a>
                    {% endif %}
                </section>
                <section class="articles">
                    <h3 class="articles__title">Popular Articles</h3>
                    <ul>
                        <li class="articles__li">
                            <div>
                                <p class="articles__number">01</p>
                            </div>
                            <div>
                                <a class="articles__a link1" href="#"> Lorem Ipsum Dolor Sit Amet</a>
                                <p>January 13, 2021</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
{% endblock content%}