{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="box box-form no-width">
        <form method="POST">
            {% csrf_token %}
            <div class="box-form__header"><p>Blog Post</p></div>
            <div class="box-form__input">
                {{ form|crispy}}
            </div>
            <div class="box-form__box-button">
                <button class="btn btn-classic " type="submit">Post</button>
            </div>
        </form>
    </section>
{% endblock content %}